S.F. supervisors panel votes to cut affordable requirements for smaller housing developers
-----
Developers of smaller housing projects between 10 and 24 units would see a slight decrease in affordable housing requirements under proposed legislation the Board of Supervisors Land Use and Transportation Committee approved Monday.The legislation, which the three-person committee approved unanimously, is an amendment to a broader bill the board passed in July that slashed the percentage of affordable rental apartments developers are forced to include in their projects from 21.5% to
