Southwest, Delta reduce elite status requirements; United revises boarding process
-----
In this week's air travel news, both Delta and Southwest unveiled changes to their loyalty programs that make it easier to achieve top tier status; United says it will revamp its passenger boarding next week; United also gives an update on the deployment of Bluetooth technology for its in-flight entertainment system; American rolls out a new AAdvantage program offshoot that rewards both businesses and their travelers; Alaska Airlines expands code-sharing with Japan Airlines; Delta flies to a
